{% extends 'html/main.html' %}
{% block content %}
<div class="card card-body">
	<a class="btn btn-primary btn-sm btn-block" href="{% url 'doc_add' %}">Добавить документ</a>
	<table class="table table-sm">
		<tr>
			<th>Описание</th>
			<th>Категория</th>
			<th>Название файла</th>
			<th>Изменить</th>
			<th>Удалить</th>
		</tr>
		{% for doc in document %}
			{% if doc.doc_name == request.user.teacher %}
				<tr>
					<td>{{doc.name}}</td>
					{% if doc.category == 'document' %}
						<td>Документ(Дипломы)</td>
					{% elif doc.category == 'sertificat' %}
						<td>Скан сертификатов(повышение квалификации)</td>
					{% elif doc.category == 'article' %}
						<td>Оттиск из статьи</td>
					{% elif doc.category == 'award' %}
						<td>Награды</td>
					{% endif %}
					<td>{{doc.file.name}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'doc_upd' doc.id %}">Изменить</a></td>
					<td>
						<form action="{% url 'doc_del' doc.id %}" method="POST" onsubmit="return ConfirmDelete()">
							{% csrf_token %}
							<input class="btn login_btn" id="Red" type="submit" name="Confirm"  value="Удалить">
						</form>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>
{% endblock %}