{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% if request.resolver_match.url_name == 'home' %}
	    <title>Главная страница</title>
	{% elif request.resolver_match.url_name == 'instituts' %}
	    <title>Институты</title>
	{% elif request.resolver_match.url_name == 'departments' %}
	    <title>Кафедры</title>
    {% elif request.resolver_match.url_name == 'teachers' %}
	    <title>Преподавательский состав</title>
	{% elif request.resolver_match.url_name == 'teacher' %}
	    <title>Личная страница сотрудника</title>
    {% elif request.resolver_match.url_name == 'student' %}
	    <title>Личная страница студента</title>
    {% elif request.resolver_match.url_name == 'user_page' %}
	    <title>Мой профиль</title>
    {% elif request.resolver_match.url_name == 'login' %}
	    <title>Авторизация</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
  {% include 'html/navbar.html' %}	
  {% block content %}
  {% endblock %}
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/bootstrap1.js' %}"></script>
<script src="{% static '/js/bootstrap2.js' %}"></script>
<script src="{% static '/js/bootstrap3.js' %}"></script>