{% extends 'html/main.html' %}
{% load i18n %}
{% block content %}
{% for insti in instituts %}
	<div class="card">
	  <div class="card-body">
		<div class="card text-center">
		  <div class="card-header">
		    <a href="{% url 'institut' insti.url_name %}" class="badge badge-info"><h1>{{insti.name}}</h1></a>
		  </div>
		  <div class="card-body">
		  	<h3><h5 class="card-title">{% trans "Кафедры института" %}</h5></h3>
		  	{% for depar in departments %}
		  	  {% if insti.id == depar.institute_id %}
				<h2><a href="{% url 'department' depar.url_name %}" class="badge badge-light"><p class="card-text">{{depar.name}}</p></a></h2>
			  {% endif %}
		    {% endfor %}
		  </div>
		</div>
	  </div>
	</div>
{% endfor %}
{% endblock %}