{% extends 'html/main.html' %}
{% load i18n %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="hidden" name="doc_name" required value="{{doc.doc_name.id}}">
	<div class="card">
	  <div class="card-body">
			<dl class="row">
				<dt class="col-sm-3">
			  	{% trans "Описание документа" %}
			  </dt>
				<dd class="col-sm-9">
					<textarea name="name" class="form-control" rows="1">{{doc.name}}</textarea>
				</dd>
				<dt class="col-sm-3">
			  	{% trans "Тип документа" %}
			  </dt>
				<dd class="col-sm-9">
					<select name="category" required class="custom-select my-1 mr-sm-2">
						{% trans "Документ(Дипломы)" as document %}
						{% trans "Скан сертификатов(повышение квалификации)" as sertificat %}
						{% trans "Оттиск из статьи" as artice %}
						{% trans "Награды" as award %}
						{% if doc.category == "document" %}
							<option value="{{doc.category}}" selected>{{document}}</option>
							<option value="sertificat">{{sertificat}}</option>
					  		<option value="article">{{artice}}</option>
					  		<option value="award">{{award}}</option>
						{% elif doc.category == "sertificat" %}
							<option value="{{doc.category}}" selected>{{sertificat}}</option>
							<option value="document">{{document}}</option>
							<option value="article">{{article}}</option>
					  		<option value="award">{{award}}</option>
						{% elif doc.category == "article" %}
							<option value="{{doc.category}}" selected>{{article}}</option>
							<option value="document">{{document}}</option>
					  		<option value="sertificat">{{sertificat}}</option>
					  		<option value="award">{{award}}</option>
						{% elif doc.category == "award" %}
							<option value="{{doc.category}}" selected>{{award}}</option>
							<option value="document">{{document}}</option>
					  		<option value="sertificat">{{sertificat}}</option>
					  		<option value="article">{{article}}</option>
						{% endif %}
				  </select>
				</dd>
				<dt class="col-sm-3">
			  	{% trans "На данный момент:" %}
			  </dt>
				<dd class="col-sm-9">
					<a href="{{doc.file.url}}">{{doc.file.name}}</a>
				</dd>
        <dt class="col-sm-3">{% trans "Выбрать новый документ" %}</dt>
	    	<dd class="col-sm-9">
	    		<dl class="row">
		        <dt class="col-sm-10">
		        	<input type="file" name="file" class="form-control-file">
		        </dt>
			    	<dd class="col-sm-2">
	      	  	<button type="submit" class="btn btn-success" nama="Submit">{% trans "Сохранить" %}</button>
			    	</dd>
			    </dl>
	    	</dd>
			</dl>
		</div>
	</div>
</form>
{% endblock %}