{% extends 'html/main.html' %}
{% load i18n %}
{% block content %}
{% for inst in instituts %}
	<div class="card">
	  <div class="card-body">
		<div class="card text-center">
		  <div class="card-header">
		    <a href="{% url 'institut' inst.url_name %}" class="badge badge-info"><h1>{{inst.name}}</h1></a>
		  	{% for depar in departments %}
		  	  {% if inst.id == depar.institute_id %}
				  <div class="card-body">
					<div class="card text-center">
					  <div class="card-header">
					    <h2><a href="{% url 'department' depar.url_name %}" class="badge badge-light"><p class="card-text">{{depar.name}}</p></a></h2>
					  </div>
					  <div class="card-body">	
						<table class="table">
						  <thead class="thead-light">
						    <tr>
						      <th scope="col">{% trans 'Ф.И.О.' %}</th>
						      <th scope="col">{% trans 'Должность' %}</th>
						      <th scope="col">{% trans 'Личная страница' %}</th>
						    </tr>
						  </thead>
						  <tbody>
							{% for teacher in teachers %}
							  {% if depar.id == teacher.department_id %}
							    <tr>
							      <td>{{teacher.surname}} {{teacher.name}} {{teacher.patronymic}}</td>
							      <td>{{teacher.post}}</td>
							      <td><a href="{% url 'teacher' teacher.id %}" class="badge badge-info"><h6>{% trans 'перейти' %}</h6></a></td>
							    </tr>
						      {% endif %}
							{% endfor %}
						  </tbody>
						</table>
					  </div>
					</div>
				  </div>
			  {% endif %}
			{% endfor %}
		  </div>
		</div>
	  </div>
	</div>
{% endfor %}
{% endblock %}